<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">-->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <title>PTSO DB Admin</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="text-center">PTSO Admin</h1>
            <hr>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8" id="apptable">
                <div class="fixed-head">
                    <table class="table table-responsive table-striped table-hover px-2">
                        <thead class="table-dark">
                            <tr>
                                <!-- <th scope="col">#</th> -->
                                <th scope="col">Streamer name</th>
                                <th scope="col">Details about Streamer</th>
                                <th scope="col">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <th scope="row">0</th> -->
                                <td>ptsoTwitch</td>
                                <td>Personal Shoutout for Twitch; Overlay System;This is a sample to see how this works;</td>
                                <td><div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-warning" disabled><i class="bi bi-pencil-fill"></i></button>
                                    <button type="button" class="btn btn-danger" disabled><i class="bi bi-trash-fill"></i></button>
                                </div></td>
                            <tr v-for="item in items" class="count">
                                <!-- <th scope="row">{{item.id}}</th> -->
                                <td>{{item.streamerName}}</td>
                                <td>{{item.streamerDetails}}</td>
                                <td><div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-warning" @click="edit(item)"><i class="bi bi-pencil-fill"></i></button>
                                    <button type="button" class="btn btn-danger" @click="deleteStreamer(item)"><i class="bi bi-trash-fill"></i></button>
                                </div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="button" @click="saveData(items)"><i class="bi bi-save-fill"></i> Save document</button>
                </div>
            </div>
            <div class="col-md-4 py-1" id="appform">
                <form action="../admin" method="post" @submit="saveInfo(addInfo)">
                    <div class="mb-1">
                        <h4 class="text-center">Add New Streamer Info</h4>
                        <hr>
                    </div>
                    <fieldset>
                        <div class="form-floating mb-3">
                            <input 
                           v-model="addInfo.streamerName" type="text" name="streamerName" class="form-control" id="streamerName" placeholder="Streamer Name" required>
                            <label for="streamerName">Streamer Name</label>
                        </div>
                        <div class="form-floating">
                            <textarea v-model="addInfo.streamerDetails" wrap="soft" name="streamerDetails" class="form-control" placeholder="Leave a comment here" id="streamerDetails" required></textarea>
                            <label for="streamerDetails">Details about Streamer</label></div>
                            <div id="streamerDetails" class="form-text">Please use semicolons (;) to separate dedicated information.</div>
                    </fieldset>
                    <hr>
                    <div class="row form-group">
                        <div class="col-6 py-1">
                            <div class="d-grid gap-2">
                                <input type="submit" value="Create Entry" class="btn btn-success">
                            </div>
                        </div>
                        <div class="col-6 py-1">
                            <div class="d-grid gap-2">
                                <input type="reset" value="Reset" class="btn btn-danger">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- VueJS related stuff -->
    <script type="importmap">
        {
            "imports": {
                "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
            }
        }
    </script>
    <script type="module">
        import {createApp} from 'vue'
        import NewStreamerInfo from './js/new-streamer-info.js'
        import StreamerTableInfo from './js/streamer-table.js'
        

        createApp(NewStreamerInfo).mount('#appform');
        createApp(StreamerTableInfo).mount('#apptable');
    </script>
</body>
</html>