textarea {
    height: 120px !important;
    resize: none;
}

header {
    padding: 15px, 0px;
}

.twitch{
    background-color: #9146ff !important;
}

body{
    background-color: aliceblue
}

.fixed-head          { overflow: scroll; height: 350px; }
.fixed-head thead th { position: sticky; top: 0; z-index: 1; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; 
/* counter-reset: section;  */
}

th, td { padding: 8px 16px; }